
/* .flexItem will apply to all elements with a class of flexItem */
.flexItem {
    padding: 30px;
    border: 1px solid red;
    /* You may need to add some more properties...*/
  }
  
  /* 
  a) Position the three divs side by side on the same line
  */
  .flexContainerA {
    display: flex; /* display flex is used for non-text items. Display flex allows us to use 'justify-content' and 'align-items' and other flex styling tools */
  
  }
  
  /* 
  b) Position each div on a new line - This is don by default so we leave this alone
  */
  .flexContainerB {
    /* Your code here */
  }
  
  /* 
  c) Position each div on a new line and have them all in the center
  /*justify-flex makes it horizontally centered , align-items makes it vertically centered */
  .flexContainerC {
    display: flex;
    justify-content: center; /* centers the content horizontally */
  
  }
  

  /*makes background colour green*/

nav{
    background-color: rgb(131, 181, 231);


}



/*removed bullet points*/
ul{

    list-style: none;
}

/*specifying that we want to refer to all li elements in the ul*/
/*make everything in line horizontally rather than vertically*/
ul li{
    display: inline;
}

header{
    height: 200px;
    background-color: rgb(99, 99, 215);
    display: flex;  /* display flex allows us to use justify content and align items*/
    justify-content: center; /* for horizontal alignment*/
    align-items: center;  /* for vetical alignment*/
}

p{
    width: 300px; /*this squashed the page vertically- so in this case the paragraph was shown in a long line, show its been squashed to look more like a paragraph*/ 


}

/*span allows you to apply styles to text that's within a larger body of text*/
/* . for classess */
.specialText{
    color: palevioletred;
}


/* 'tr:first-child' specifying that we want to refer to the first occurence of a tr element */
table thead tr:first-child{
    font-size: 30px;

}

/* this is a 'hover' selector - selectors give you more control on how properties are applied to html */
/* Other selectors: click
/* this basically means when we hover over the img, it makes the image 0.3 opaque */

img:hover {
    opacity:0.3;  
}

